@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  color: #1e1b4b;
  overflow-x: hidden;
}

/* Organic Image Shape - Non Card */
.organic-shape {
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
  border-radius: 8px;
}